{% extends 'base.html' %}

{% load static %}
{% load startswith %}

{% block title %}Места обитания{% endblock %}

{% block content %}
<div style="margin: 20px; display: flex;">
    <div style="background-color:  #FFC49B;">
        <div style="margin: 20px;">
        {% include 'send_text_form.html' %}
    </div>
    </div>
    <ul>
        {% for habitat in data.habitats %}
            {% if habitat|startswith: data.ftitle %}
                {% include 'habitat_card.html' with element=habitat %}
                {% endif %}
        {% empty %}
            <li>Список пуст</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}