{% extends 'base.html' %}

{% load static %}

{% block title %}{{ data.habitat.title }}{% endblock %}

{% block content %}
    <div style="display: flex;">
        <div style="width: 40%; margin: 5%;">
            <p style=" font: 18px sans-serif;">Подробная информация о месте обитания: {{ data.habitat.title }}</p>
            <p style=" font: 14px sans-serif;">{{ data.habitat.desc }}</p>
            <p style=" font: 16px sans-serif;">Происхождение места обитания: {{ data.habitat.origin }}</p>
            <p style=" font: 16px sans-serif;">Среда: {{ data.env.title }}</p>
            <button  onclick="history.back()">Назад</button>
        </div>
        <div>
            <img src="{{ data.habitat.pic }}" style="width: 40%; margin: 5%;"> 
        </div>
    </div>
{% endblock %}