<form action="filter" method="get" enctype="multipart/form-data">
    {% csrf_token %}
    <p  style="font: 14px sans-serif;">Назвние места обитания:</p>
    <input name="text" type="text"><br><br>
    <p style="font: 14px sans-serif;"></p>
    <fieldset>
        <legend style="font: sans-serif;">Тип среды:</legend>
        {% for element in data.envs %}
            {% include 'checkbox_el.html' with name="env" %}
        {% empty %}
            <li>Список пуст</li>
        {% endfor %}
      
      </fieldset>
      <br>
      <fieldset>
        <legend style="font: sans-serif;">Происхождение:</legend>
        {% for element in data.origs %}
            {% include 'checkbox_el.html' with name="orig" %}
        {% empty %}
            <li>Список пуст</li>
        {% endfor %}
      
      </fieldset>
      <br><br>
    <input type="submit" value="ОК" style="border-radius: 5px; font: sans-serif;">
</form>